*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.img{
    display: flex;
    justify-content: space-between;

}

.img img{
    cursor: pointer;
    height: 10px;
}

input{
    border: 1px solid grey;
}

label{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    padding: 15px;
    border: 1px solid rgb(197, 193, 193);
    border-radius: 7px;
}

label:has([type='radio']:checked){
    border: 2px solid hsl(176, 50%, 47%);
}



span{
    color: hsl(176, 50%, 47%);
    margin-left: 20px;
}

label p{
    font-size: 13px;
}

label h2{
    font-size: 12px;
    margin-bottom: 2px;
}

.details{
    margin-bottom: 14px;
}

.details h2{
    font-size: 18px;
    margin-bottom: 4px;
}

.details p{
    font-size: 14px;
}

.flex{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px ){

    .details p{
        font-size: 13px;

    }

    .details h2{
        font-size: 13px;

    }


}

@media (max-width: 760px ){

    .details p{
        font-size: 11px;

    }

    .details h2{
        font-size: 12px;

    }


}

@media (max-width: 480px ){


    .details p{
        font-size: 11px;

    }

    .details h2{
        font-size: 12px;

    }
    
}


@media (max-width: 350px ){


    .details p{
        font-size: 10px;

    }

    .details h2{
        font-size: 11px;

    }
}

@media (max-width: 305px ){

    .details{
        margin-bottom: 10px;
    }

    .details p{
        font-size: 8px;

    }

    .details h2{
        font-size: 10px;

    }

}
