.item{
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -5rem;
    position: relative;
    border-radius: 14px;
    padding: 3rem;
    box-shadow: 0 1px 18px 10px grey;
    background-color: white;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.bookmark{
    display: flex;
    text-align: center;
    background-color: hsl(90, 3%, 48%);
    border-radius: 2.4rem;
}

.bookmark p{
 padding: 12px;
 margin: 0;

}

.bookmark img{
    padding: 0;
    height: 3rem;
}

.flex button{
    padding: 0 35px;
    border-radius: 2rem;
    background-color: hsl(176, 50%, 47%);
    color: white;
    margin: 0;
    border: 0;
}

.flex button:hover{
    background-color: hsl(176, 72%, 28%);
}



@media (max-width: 950px ){
    .item{
        width: 70%;
        padding: 2rem;
        margin-top: -3rem;
    }


}

@media (max-width: 850px ){

    .item{
        padding: 1rem;
        margin-top: -6rem;

    }

    .bookmark p{
        padding: 7px;
        margin: 0;
       
       }

    .bookmark img{
        height: 2rem;
    }

    .flex button{
        padding: 1px 7px;
        font-size: 9px;
        
    }

    .flex{
        padding-top: 25px;
    }
}


@media (max-width: 670px ){

    .flex button{
        padding: 2px 10px;
        font-size: 10px;
        
    }

    .item{
        width: 50%;
        
    }

    .flex p{
        display: none;
    }

    .bookmark img{
        height: 2rem;
    }
}



@media (max-width: 600px ){
    .item{
        margin-top: -5rem;
    }

}

@media (max-width: 400px ){
    .bookmark img{
        height: 1rem;
    }

    .flex{
        padding-top: 15px;
    }

    .item{
        margin-top: -1.4rem;
    }

    .flex button{
        font-size: 8px;
        
    }

}

@media (max-width: 300px ){
    .item{
        margin-top: -2rem;
    }

}

